
src/GradeBook/.vscode/launch.json

src/GradeBook/.vscode/tasks.json

src/GradeBook/bin/Debug/netcoreapp3.1/GradeBook.deps.json

src/GradeBook/bin/Debug/netcoreapp3.1/GradeBook.dll

src/GradeBook/bin/Debug/netcoreapp3.1/GradeBook.exe

src/GradeBook/bin/Debug/netcoreapp3.1/GradeBook.pdb

src/GradeBook/bin/Debug/netcoreapp3.1/GradeBook.runtimeconfig.dev.json

src/GradeBook/bin/Debug/netcoreapp3.1/GradeBook.runtimeconfig.json

src/GradeBook/obj/Debug/netcoreapp3.1/GradeBook.assets.cache

src/GradeBook/obj/Debug/netcoreapp3.1/GradeBook.csproj.FileListAbsolute.txt

src/GradeBook/obj/Debug/netcoreapp3.1/GradeBook.csprojAssemblyReference.cache

src/GradeBook/obj/GradeBook.csproj.nuget.dgspec.json

src/GradeBook/obj/project.assets.json

src/GradeBook/obj/project.nuget.cache
